/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../../../../resources/scss/generic/variables";
@import "../../../../resources/scss/generic/functions";
@import "../../../../resources/scss/generic/mixins";

/* ------------------------------------------------------------ *\
	Component: Gallery Slider
\* ------------------------------------------------------------ */

.block-gallery,
.acf-block-preview .block-gallery {
	margin-top: rem(20);
	margin-bottom: rem(20);
	width: rem(800);
	max-width: 100%;

	&__main {
		border-left: 4px solid $cerulean;
		border-right: 4px solid $cerulean;
	}

	&__nav {
		background: $wildSand;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__arrow {
		&.slider-arrow--prev {
			border-top-left-radius: 0;
		}
		&.slider-arrow--next {
			border-top-right-radius: 0;
		}
	}

	&__pagination {
		padding-bottom: 2px;
		text-align: center;
		font-family: $drukWide;
		color: $deepSapphire;
		font-size: rem(18);
		white-space: nowrap;

		.swiper-pagination-current {
			font-size: rem(24);
			line-height: 1;
			font-family: $drukWide;
			color: $deepSapphire;
			font-weight: 500;
			font-style: normal;

			@include breakpoint-down(mobile) {
				font-size: rem(20);
			}
		}

		.swiper-pagination-total {
			font-family: $drukWide;
			font-style: normal;
			font-weight: 500;
			font-size: rem(18);
			line-height: 1.33;
			color: $deepCove60;

			@include breakpoint-down(mobile) {
				font-size: rem(18);
			}
		}
	}

	&__slide {
		&-inner {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 55%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				margin: 0 !important;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}
