/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
@font-face {
	font-family: "Montserrat";
	src: local("Montserrat Regular"), local("Montserrat-Regular"),
		url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat Medium"), local("Montserrat-Medium"),
		url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat Bold"), local("Montserrat-Bold"),
		url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat Black"), local("Montserrat-Black"),
		url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
	font-weight: 900;
}

@font-face {
	font-family: "Bank Gothic";
	src: local("Bank Gothic Medium"), local("BankGothicBT-Medium"),
		url("../fonts/bankgothic/BankGothicBT-Medium.woff2") format("woff2"),
		url("../fonts/bankgothic/BankGothicBT-Medium.woff") format("woff");

	font-weight: 500;
	font-style: normal;
}
