@import "variables";
@import "../../../node_modules/select2/src/scss/core";

.select2-container {
	display: block;
	width: 100% !important;

	.select2-selection {
		border: 1px solid $deepCove5;
		background: $wildSand;
		height: rem(40);
		padding: rem(9) 0;
		transition: all 0.15s ease-in-out;
		border-radius: 4px !important;
		will-change: box-shadow;

		@media (hover: hover) {
			&:hover {
				border: 1px solid $deepCove20;
			}
		}

		.select2-selection__rendered {
			padding-left: rem(16);
			padding-right: rem(45);
			font-size: rem(14);
			font-weight: 500;
			line-height: 1.4;
			color: $deepCove80;

			.text-before {
				color: $deepCove60;
			}
		}

		.select2-selection__arrow {
			top: 50%;
			right: rem(22);
			transform: translateY(-50%);
			width: 14px;
			height: 8px;
			transition: all 0.15s ease-in-out;
			will-change: transform;

			b {
				display: block;
				position: relative;
				left: 0;
				top: 0;
				margin: 0;
				width: 100%;
				height: 100%;
				border: none;
				background: url(../images/icons/icon-arrow-down-select.svg) center/contain no-repeat;

			}
		}
	}

	&.select2-container--open {
		.select2-selection {
			background: $white;
			border: 1px solid $white;
			box-shadow: 0 rem(10) rem(40) $deepCove10;

			.select2-selection__arrow {
				transform: translateY(-50%) scaleY(-1);
			}
		}
	}


	.select2-dropdown {
		border-radius: 4px;
		overflow: hidden;
		background: $white;
		border: none;
		box-shadow: 0 rem(10) rem(40) $deepCove10;

		&.select2-dropdown--below {
			margin-top: rem(6);
		}
		&.select2-dropdown--above {
			margin-top: rem(-6);
		}

		.select2-results__options {
			max-height: rem(396);
		}

		.select2-results__option {
			padding: rem(5) rem(16);
			color: $deepCove80;
			font-weight: 500;
			font-size: rem(14);
			line-height: 1.4;
			transition: all $transition-default;
			background: none;

			&:first-child {
				padding-top: rem(10);
			}
			&:last-child {
				padding-bottom: rem(10);
			}

			&[aria-selected="true"] {
				color: $scienceBlue;
			}

			&.select2-results__option--highlighted {
				color: $scienceBlue;
			}
		}
	}


}
