/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../../../../resources/scss/generic/variables";
@import "../../../../resources/scss/generic/functions";
@import "../../../../resources/scss/generic/mixins";

/* ------------------------------------------------------------ *\
	Blocks: Section Hero
\* ------------------------------------------------------------ */

.section-hero,
.acf-block-preview .section-hero {
}

.intro {
	position: relative;
	padding-top: 320px;
	padding-bottom: 200px;

	@include breakpoint-down(large-desktop) {
		padding-top: 260px;
	}

	@include breakpoint-down(tablet) {
		padding-top: 462px;
	}

	@include breakpoint-down(mobile) {
		padding-top: 202px;
		padding-bottom: 130px;
	}
}

.intro__backround-video {
	object-fit: cover;
}

.hero__img::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: $color-dark-s-50;
}

.hero__content {
	padding-top: 60px;

	@include breakpoint-down(tablet) {
		padding-top: 0;
	}
}

.hero__buttons {
	@include flex(row, flex-start, center);
	gap: 10px;

	@include breakpoint-down(tablet) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.h1 {
	margin-bottom: 50px;

	@include breakpoint-down(tablet) {
		margin-bottom: 30px;
	}
}

.h1__name {
	margin-bottom: 20px;
	display: block;
	font-size: 100px;
	font-weight: 900;
	line-height: 1;

	@include breakpoint-down(large-desktop) {
		font-size: 50px;
	}

	@include breakpoint-down(mobile) {
		font-size: 40px;
	}
}

.h1__description {
	font-family: "Bank Gothic", "sans-serif";
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: -0.05 * 24px;

	@include breakpoint-down(large-desktop) {
		font-size: 20px;
		letter-spacing: -0.05 * 20px;
	}

	@include breakpoint-down(tablet) {
		display: inline-block;
		width: 452px;
	}

	@include breakpoint-down(mobile) {
		width: 100%;
	}
}

.advantages {
	position: relative;

	@include breakpoint-down(small-desktop) {
		background-color: $color-background;
	}
}

.advantages::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 155px;
	background-color: $color-accent-light;

	@include breakpoint-down(tablet) {
		height: 133px;
	}

	@include breakpoint-down(mobile) {
		height: 410px;
	}
}

.advantages__content {
	position: relative;
	z-index: 2;
	padding-top: 30px;

	@include breakpoint-down(tablet) {
		padding-top: 20px;
	}
}

.advantages__flex {
	margin-bottom: 30px;
	@include flex(row, space-between, stretch);
	column-gap: 30px;
	row-gap: 20px;

	@include breakpoint-down(small-desktop) {
		column-gap: 20px;
	}

	@include breakpoint-down(tablet) {
		margin-bottom: 20px;
	}

	@include breakpoint-down(mobile) {
		@include flex(column, flex-start, stretch);
	}
}

.advantages__item {
	padding: 65px 50px;
	flex-basis: 100%;
	@include flex(row, center, center);
	column-gap: 30px;
	row-gap: 20px;
	background-color: $color-accent;

	@include breakpoint-down(large-desktop) {
		@include flex(column, flex-start, flex-start);
	}

	@include breakpoint-down(small-desktop) {
		padding: 30px 10px 30px 20px;
	}

	@include breakpoint-down(mobile) {
		padding-right: 20px;
		@include flex(row, center, center);
		column-gap: 20px;
		height: 140px;
	}
}

.advantages__h3 {
	width: 250px;

	@include breakpoint-down(small-desktop) {
		width: 186px;
	}
}

.advantages__svg {
	color: $color-accent-light;

	@include breakpoint-down(tablet) {
		width: 80px;
		height: 80px;
	}
}

.advantages__link {
	margin-left: auto;
	margin-right: auto;
}

.galery {
	padding-top: 120px;
	padding-bottom: 120px;

	@include breakpoint-down(small-desktop) {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	@include breakpoint-down(mobile) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.galery__h2 {
	text-align: center;
	text-transform: uppercase;
}

.galery__slogan {
	margin: 20px auto 60px;
	width: 397px;
	text-align: center;

	@include breakpoint-down(small-desktop) {
		margin-bottom: 32px;
	}

	@include breakpoint-down(mobile) {
		margin-top: 15px;
		margin-bottom: 27px;
		width: 100%;
	}
}

.galery__content {
	gap: 28px;
	justify-content: center;
	flex-wrap: nowrap;

	@include breakpoint-down(large-desktop) {
		gap: 16px;
	}

	@include breakpoint-down(small-desktop) {
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
}

.galery__col {
	max-height: 1016px;
	max-width: 786px;
	flex-wrap: wrap;
	gap: 28px;

	@include breakpoint-down(large-desktop) {
		gap: 16px;
	}

	@include breakpoint-down(small-desktop) {
		gap: 10px;
		max-height: 980px;
	}

	@include breakpoint-down(mobile) {
		flex-direction: column;
		max-height: fit-content;
	}
}

.galery__col--left {
	@include flex(column, space-between, stretch);
	align-content: flex-end;

	@include breakpoint-down(small-desktop) {
		flex-direction: row;
	}
}

.galery__col--right {
	@include flex(row, space-between, stretch);
	align-content: stretch;
}

.galery__item {
	position: relative;
	cursor: pointer;
	border: 2px solid transparent;
	transition: $transition-default;

	@include hover-active {
		border: 2px solid $color-accent;
	}
}

.galery__item::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 3;
	background-image: linear-gradient($color-dark-s-27, $color-dark-s);
	opacity: 60%;
}

.galery__item--square {
	aspect-ratio: 1.184375;
	max-height: 320px;
	max-width: 379px;

	@include breakpoint-down(large-desktop) {
		max-width: calc(50% - 8px);
	}

	@include breakpoint-down(small-desktop) {
		aspect-ratio: 1.059375;
		max-width: calc(50% - 5px);
	}

	@include breakpoint-down(mobile) {
		aspect-ratio: 1.28;
		max-width: 100%;
	}
}

.galery__col--left .galery__item--square {
	flex: 1 0 31.496%;

	@include breakpoint-down(small-desktop) {
		flex: 1 0 48.2188%;
	}

	@include breakpoint-down(mobile) {
		flex: 1 0 100%;
	}
}

.galery__col--right .galery__item--square {
	flex: 1 0 48.2188%;

	@include breakpoint-down(mobile) {
		flex: 1 0 100%;
	}
}

.galery__item--vertical {
	flex: 1 0 65.74%;
	order: -2;
	aspect-ratio: 0.56736;
	max-height: 668px;
	max-width: 379px;

	img {
		object-position: 50% 100%;
	}

	@include breakpoint-down(large-desktop) {
		max-width: calc(50% - 8px);
	}

	@include breakpoint-down(small-desktop) {
		flex: 1 0 100%;
		order: 0;
		aspect-ratio: 2.15;
		max-width: 786px;
		max-height: 320px;
	}

	@include breakpoint-down(mobile) {
		max-width: 100%;
		aspect-ratio: 1.28;
	}
}

.galery__item--accent {
	flex: 1 0 100%;
	max-width: 786px;
	max-height: 320px;
	aspect-ratio: 2.45625;

	@include breakpoint-down(small-desktop) {
		aspect-ratio: 2.15;
	}

	@include breakpoint-down(mobile) {
		max-width: 100%;
		aspect-ratio: 1.28;
	}
}

.galery__text-content {
	position: relative;
	z-index: 10;
	padding-left: 24px;
	padding-bottom: 24px;
	height: 100%;
	@include flex(column, flex-end, flex-start);
	color: $white;
}

.galery__description {
	margin-top: 2px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;

	@include breakpoint-down(mobile) {
		font-weight: 500;
	}
}

.galery [data-galery="4"] {
	order: -2;

	@include breakpoint-down(small-desktop) {
		order: 0;
	}
}

.galery [data-galery="6"] .galery__text-content {
	max-width: 383px;

	@include breakpoint-down(mobile) {
		max-width: 300px;
	}
}

.galery__button {
	display: block;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;

	@include breakpoint-down(small-desktop) {
		margin-top: 30px;
	}

	@include breakpoint-down(mobile) {
		margin-top: 24px;
	}
}

.galery__img {
	object-fit: cover;
}

.offer {
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: $color-background;

	@include breakpoint-down(small-desktop) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	@include breakpoint-down(mobile) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.offer__row {
	margin: auto;
	max-width: 1580px;
	justify-content: space-between;
}

.offer__h5 {
	color: $color-dark-s;
	text-transform: uppercase;
	font-family: "Bank Gothic", "sans-serif";
	font-size: 24px;
	line-height: 1;

	@include breakpoint-down(small-desktop) {
		font-size: 20px;
	}
}

.offer__h2 {
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 1;

	@include breakpoint-down(small-desktop) {
		margin-bottom: 20px;
	}
}

.offer__left-col {
	max-width: 670px;

	@include breakpoint-down(small-desktop) {
		max-width: 100%;
		margin-bottom: 45px;
	}

	@include breakpoint-down(mobile) {
		margin-bottom: 37px;
	}
}

.offer__right-col {
	padding-right: 10px;
	margin-left: auto;
	margin-right: 0;
}

.offer__left-content {
	position: relative;
	padding-left: 16px;

	@include breakpoint-down(large-desktop) {
		width: 80%;
	}

	@include breakpoint-down(small-desktop) {
		width: 100%;
	}

	@include breakpoint-down(mobile) {
		padding-left: 8px;
	}
}

.offer__left-content::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	height: 100%;
	background-color: $color-accent;
}

.offer__right-content {
	max-width: 682px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: 0;

	@include breakpoint-down(small-desktop) {
		margin: 0;
		max-width: 100%;
	}

	@include breakpoint-down(mobile) {
		padding-right: 0;
	}
}

.offer__nav {
	margin-left: auto;
	margin-right: auto;
	max-width: 376px;

	@include breakpoint-down(mobile) {
		max-width: 100vw;
	}

	@include breakpoint-down(mobile-small) {
		position: relative;
		left: -20px;
		width: 100vw;
	}
}

.offer__nav-tabs-wrapper {
	max-width: 100%;
	overflow-x: scroll;
}

.offer__nav-tabs {
	margin: auto;
	@include flex(row, flex-start, center);
	flex-wrap: nowrap;
	width: max-content;
	border-bottom: 2px solid $black-10;
}

.offer__nav-link {
	padding: 0 16px 8px;
	flex: 0 0 auto;
	text-decoration: none;
	color: $color-dark-s;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
}

.offer__tab-content {
	background-color: $white;
}

.tab-info {
	@include flex(row, flex-start, stretch);
	flex-wrap: wrap;
}

.tab-info__block {
	padding: 54px 24px;
	flex: 1 1 33%;
	@include flex(row, flex-start, center);
	border: 1px solid $black-10;
	text-decoration: none;
	color: $color-accent;

	svg {
		transition: $transition-default;
	}

	@include breakpoint-down(large-desktop) {
		padding: 54px 16px;
	}

	@include breakpoint-down(mobile) {
		padding-left: 10px;
		padding-right: 10px;
		flex: 1 1 49%;
	}

	@include hover-active {
		svg {
			color: $color-accent-light;
		}
	}
}

.tab-info__name {
	margin-left: 10px;
	color: $color-dark-l;
	font-size: 16px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;

	@include breakpoint-down(mobile) {
		font-size: 14px;
	}
}

.results {
	padding-top: 120px;
	padding-bottom: 120px;
	background-image: linear-gradient(to right, $white 50%, $color-background 0);

	@include breakpoint-down(small-desktop) {
		padding-top: 70px;
		padding-bottom: 70px;
		background-image: linear-gradient(
			to top,
			$color-background 130px,
			$white 0
		);
	}

	@include breakpoint-down(mobile) {
		padding-top: 50px;
		padding-bottom: 50px;
		background-image: linear-gradient(to top, $color-background 90px, $white 0);
	}
}

.results__container {
	@include flex(row, space-between, center);

	@include breakpoint-down(large-desktop) {
		column-gap: 40px;
	}

	@include breakpoint-down(small-desktop) {
		flex-direction: column;
		row-gap: 30px;
	}

	@include breakpoint-down(mobile) {
		row-gap: 40px;
	}
}

.results__p {
	max-width: 683px;
	margin-top: 20px;
	margin-bottom: 100px;

	@include breakpoint-down(small-desktop) {
		margin-bottom: 50px;
		max-width: 511px;
	}

	@include breakpoint-down(mobile) {
		margin-bottom: 30px;
	}
}

.results-swiper {
	max-width: 967px;
	max-height: 800px;
	background-color: $color-accent;
	border-radius: 2px;
	flex: 1 0 auto;

	@include breakpoint-down(large-desktop) {
		max-width: 60%;
	}

	@include breakpoint-down(small-desktop) {
		width: 100%;
		max-width: 100%;
		max-height: fit-content;
	}
}

.results-swiper__left {
	max-width: 540px;

	@include breakpoint-down(large-desktop) {
		max-width: 32%;
	}

	@include breakpoint-down(small-desktop) {
		max-width: 100%;
	}
}

.results__swiper-wrapper {
	background-color: $color-accent;
}

.results-swiper__controls,
.reviews-swiper__controls {
	@include flex(row, flex-start, center);

	@include breakpoint-down(mobile) {
		justify-content: center;
	}
}

.results .swiper-button-prev,
.results .swiper-button-next,
.results .swiper-pagination,
.reviews .swiper-button-prev,
.reviews .swiper-button-next,
.reviews .swiper-pagination {
	position: static !important;
	flex: 0 0 auto;
	width: fit-content !important;
}

.results .swiper-button-prev,
.results .swiper-button-next,
.reviews .swiper-button-prev,
.reviews .swiper-button-next {
	margin-top: 0 !important;
}

.results .swiper-button-prev::after,
.results .swiper-button-next::after,
.reviews .swiper-button-prev::after,
.reviews .swiper-button-next::after {
	content: "";
}

.results .swiper-pagination-bullet,
.reviews .swiper-pagination-bullet {
	margin: 0 !important;
}

.results .swiper-pagination-bullet-active,
.reviews .swiper-pagination-bullet-active {
	pointer-events: none;
}

.results-swiper .swiper-slide-prev,
.results-swiper .swiper-slide-next {
	pointer-events: none;

	& .results__img-container:before,
	& .results__img-container:after {
		display: none;
	}

	& .twentytwenty-handle {
		visibility: hidden;
	}

	& .twentytwenty-handle:before,
	& .twentytwenty-handle:after {
		visibility: visible;
		top: -1000px;
		height: 9999px;
	}
}

.results-swiper .swiper-slide-prev {
	transform: translateZ(0) translateX(73%) scale(0.8) !important;
}

.results-swiper .swiper-slide-next {
	transform: translateZ(0) translateX(-73%) scale(0.8) !important;
	z-index: -1;
}

.results .results__slide {
	max-width: 967px;
	@include flex(row, center, center);
	padding-top: 60px;
	padding-bottom: 60px;
	overflow: hidden;

	@include breakpoint-down(small-desktop) {
		padding-top: 56px;
		padding-bottom: 56px;
	}

	@include breakpoint-down(mobile) {
		padding-top: 10px;
		padding-bottom: 31px;
	}
}

.results__img-container {
	position: relative;
	width: 47.57%;
	height: calc(100% - 120px);
	margin-left: auto;
	margin-right: auto;
	aspect-ratio: 0.6765;
	@include flex(row, center, flex-start);
	background-color: $color-accent;
	border-radius: 2px;

	img {
		object-fit: cover;
		object-position: top center;
	}

	@include breakpoint-down(small-desktop) {
		width: 47.33%;
		height: calc(100% - 112px);
	}

	@include breakpoint-down(mobile) {
		width: 55%;
		height: calc(100% - 41.35px);
	}
}

.results__img-container:before {
	content: "Before";
	left: 0;
}
.results__img-container:after {
	content: "After";
	right: 0;
}

.results__img-container:before,
.results__img-container:after {
	position: absolute;
	bottom: -34px;
	z-index: 10;
	font-family: "Bank Gothic", "sans-serif";
	font-size: 14px;
	line-height: 1.4;
	color: $white;
	letter-spacing: -0.05 * 14px;

	@include breakpoint-down(mobile) {
		bottom: -21px;
		font-size: 12px;
		line-height: 1;
		letter-spacing: -0.05 * 12px;
	}
}

.text-swiper {
	overflow: hidden;
}

.reviews {
	padding-top: 361px;
	padding-bottom: 50px;
	background-image: linear-gradient(to right, $color-background 50%, $white 0);

	@include breakpoint-down(desktop) {
		padding-top: 280px;
	}

	@include breakpoint-down(small-desktop) {
		padding-top: 0;
		padding-bottom: 70px;
		background-image: none;
	}

	@include breakpoint-down(mobile) {
		padding-bottom: 50px;
	}
}

.reviews__main-container {
	@include breakpoint-down(small-desktop) {
		padding: 0;
		max-width: 100%;
	}
}

.reviews__inner-container {
	max-width: 100%;
	padding: 0;

	@include breakpoint-down(small-desktop) {
		max-width: 880px;
		padding-right: 10px;
		padding-left: 10px;
	}

	@include breakpoint-down(tablet) {
		max-width: 708px;
	}

	@include breakpoint-down(mobile) {
		max-width: 560px;
		padding-right: 20px;
		padding-left: 20px;
	}
}

.reviews__inner-container--left {
	@include breakpoint-down(mobile) {
		@include flex(column-reverse, flex-start, center);
	}
}

.reviews__left-col {
	padding-top: 180px;
	position: relative;

	@include breakpoint-down(large-desktop) {
		padding-top: 90px;
	}

	@include breakpoint-down(desktop) {
		padding-top: 150px;
	}

	@include breakpoint-down(small-desktop) {
		padding-top: 30px;
		padding-bottom: 100px;
		background-color: $color-background;
	}

	@include breakpoint-down(mobile) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.reviews__left-content {
	@include breakpoint-down(large-desktop) {
		width: 70%;
	}

	@include breakpoint-down(small-desktop) {
		max-width: 393px;
		width: 100%;
	}
}

.reviews__img {
	top: auto;
	bottom: -50px;
	left: auto;
	right: 0;

	img {
		object-fit: contain;
		object-position: bottom right;
	}

	@include breakpoint-down(large-desktop) {
		width: 40%;
		height: 100%;
	}

	@include breakpoint-down(small-desktop) {
		bottom: 0;
		width: 42vw;
		max-height: 427px;

		img {
			object-fit: contain;
		}
	}

	@include breakpoint-down(mobile) {
		position: static;
		max-width: 368px;
		width: 100%;
		aspect-ratio: 1.067;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.reviews__right-content {
	width: fit-content;

	@include breakpoint-down(large-desktop) {
		width: 80%;
	}

	@include breakpoint-down(desktop) {
		width: 90%;
		margin-left: auto;
		margin-right: 0;
	}

	@include breakpoint-down(small-desktop) {
		width: 100%;
		margin-right: auto;
		padding-top: 100px;
	}

	@include breakpoint-down(mobile) {
		padding-top: 70px;
	}
}

.reviews__right-col {
	@include flex(row, flex-end, flex-start);

	@include breakpoint-down(small-desktop) {
		justify-content: flex-start;
	}
}

.reviews__buttons {
	margin-top: 50px;
	@include flex(row, flex-start, center);
	column-gap: 10px;

	@include breakpoint-down(small-desktop) {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 10px;
		margin-top: 30px;
	}
}

.reviews__h2 {
	margin-bottom: 30px;
	line-height: 1.2;

	@include breakpoint-down(small-desktop) {
		margin-bottom: 20px;
		letter-spacing: 0;
	}
}

.rewiews__h2--right {
	max-width: 620px;
	margin-bottom: 50px;
	line-height: 1;

	@include breakpoint-down(large-desktop) {
		width: 80%;
	}

	@include breakpoint-down(small-desktop) {
		width: 70%;
		margin-bottom: 30px;
	}

	@include breakpoint-down(mobile) {
		width: 100%;
	}
}

.reviews__p {
	max-width: 390px;
	margin-bottom: 10px;
	line-height: 1.23;
	transition: $transition-default;
}

.reviews__p--hidden {
	height: 1.23em * 6;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;

	@include breakpoint-down(small-desktop) {
		height: 1.23em * 5;
		-webkit-line-clamp: 5;
	}
}

.reviews__p--visible {
	overflow: visible;
}

.reviews-swiper {
	max-width: 544px;
	margin-left: 0;
	margin-right: 0;
}

.reviews-swiper__wrapper {
	margin-bottom: 55px;

	@include breakpoint-down(small-desktop) {
		margin-bottom: 30px;
	}
}

.review {
	padding-left: 16px;
	border-left: 3px solid $color-accent;
}

.review__author {
	color: $color-dark-s;
	font-weight: 900;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: -0.05 * 18px;
	margin-bottom: 6px;

	@include breakpoint-down(small-desktop) {
		line-height: 1;
	}
}

.stars {
	margin-bottom: 30px;
	@include flex(row, flex-start, center);
	column-gap: 5px;
	color: $color-accent;

	@include breakpoint-down(small-desktop) {
		margin-bottom: 20px;
	}
}

.reviews-swiper__controls {
	justify-content: flex-start;
}

.testimonials {
	margin-top: -60px;
	position: relative;
	top: 210px;

	@include breakpoint-down(small-desktop) {
		margin-top: 0;
		top: 0;
		padding-top: 100px;
		padding-bottom: 100px;
		background-color: $color-background;
	}

	@include breakpoint-down(mobile) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.testimonials__h2 {
	text-align: center;
	margin-bottom: 30px;

	@include breakpoint-down(small-desktop) {
		margin-bottom: 20px;
	}
}

.testimonials__videos {
	@include flex(row, center, center);
	padding: 30px;
	column-gap: 30px;
	background-color: $color-accent;

	@include breakpoint-down(small-desktop) {
		padding: 10px;
		column-gap: 10px;
	}

	@include breakpoint-down(mobile) {
		row-gap: 10px;
		flex-direction: column;
	}
}

.testimonials__video {
	flex: 1 0 30%;
	aspect-ratio: 1.3;
	position: relative;
	@include flex(row, center, center);

	img {
		object-fit: cover;
		object-position: top center;
	}

	svg {
		@include transitions();
	}

	@include hover-active {
		svg {
			color: $color-accent-light;
		}
	}

	@include breakpoint-down(mobile) {
		flex: 1 0 100%;
		aspect-ratio: 1.8519;
	}
}

.testimonials__open-button {
	@include flex(row, center, center);
	position: relative;
	z-index: 4;
	color: $color-accent;
	border: none;
	background-color: hsla(0, 0%, 0%, 0);

	@include breakpoint-down(mobile) {
		svg {
			width: 31px;
			height: 33px;
		}
	}
}
