.button {
	color: $white;
	border-radius: $border-radius;
	font-size: 16px;
	line-height: 1;
	font-weight: 700;
	transition: $transition-default;

	@include breakpoint-down(large-desktop) {
		font-size: 14px;
	}
}

.button--square {
	@include flex(row, center, center);
	width: 60px;
	height: 56px;
	border: 3px solid $color-accent;
	background-color: $color-accent;
	transform-origin: center;

	@include breakpoint-down(large-desktop) {
		width: 44px;
		height: 44px;
	}

	@include hover-device {
		&:hover {
			background-color: $color-accent-light;
			border: 3px solid $color-accent-light;
		}
	}

	@include mobile-device {
		&:active {
			background-color: $color-accent-light;
			border: 3px solid $color-accent-light;
		}
	}
}

.button--colored {
	padding: 20px 40px;
	background-color: $color-accent;
	border: none;

	@include breakpoint-down(large-desktop) {
		padding: 15px 30px;
	}

	@include hover-device {
		&:hover {
			background-color: $color-accent-light;
		}
	}

	@include mobile-device {
		&:active {
			background-color: $color-accent-light;
		}
	}
}

.button--transparent {
	padding: 15.6px 37px;
	@include flex(row, center, center);
	column-gap: 15px;
	color: $white;
	border: 3px solid $color-accent;
	background-color: $white-5;

	@include breakpoint-down(large-desktop) {
		padding: 11.86px 27.6px;
	}

	@include hover-device {
		&:hover {
			background-color: $color-accent-light;
			border: 3px solid $color-accent-light;
		}
	}

	@include mobile-device {
		&:active {
			background-color: $color-accent-light;
			border: 3px solid $color-accent-light;
		}
	}

	svg {
		@include breakpoint-down(large-desktop) {
			height: 16px;
		}
	}
}

.button--underline {
	position: relative;
	display: block;
	width: fit-content;
	border: none;
	color: $color-accent;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	background-color: $color-background;
	border-bottom: 2px solid $color-accent;
	text-decoration: none;

	@include transitions();

	@include hover-active {
		color: $color-accent-light;
	}

	@include breakpoint-down(small-desktop) {
		font-size: 14px;
	}
}
