@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../generic/variables";
@import "../generic/functions";
@import "../generic/mixins";

.modal {
	margin-block-start: 0 !important;
}

.modal-open .wp-site-blocks {
	overflow: hidden;
}

.modal-content {
	border: none;
	border-radius: 8px;
	background-color: transparent;
	overflow: hidden;
}

.modal-header {
	position: relative;
	padding: 0;
	border: none;
	background-color: $wildSand;
	width: 100%;
	height: rem(56);
}

.modal-body {
	padding: 0;
	background-color: $white;
}

.modal-backdrop {
	background: $deepCove60;
}

.modal-backdrop.show {
	opacity: 1 !important;
}

.modal-close {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	padding: 0;
	width: rem(56);
	height: rem(56);
	background-color: $cerulean;
	transition: background-color $transition-default;
	line-height: 0;

	svg {
		max-width: rem(24);
		width: rem(24);
		height: auto;

		path {
			fill: $white;
		}
	}

	@media (pointer: coarse) {
		&:active {
			background-color: $deepSapphire;
		}
	}

	@media (not (pointer: coarse)), (hover: hover) and (pointer: fine) {
		&:hover,
		&:focus {
			background-color: $deepSapphire;
		}
	}
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: rem(5) rem(16);
	pointer-events: none;
}

.modal-lg {
	max-width: rem(328);
}

.video-responsive {
	position: relative;
	padding-bottom: 56.25%;
	display: block;
	height: 0;
	overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;

	@supports (transform: translate(0, 0)) or
		(-webkit-transform: translate(0, 0)) {
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.self-hosted-video {
	position: relative;
	padding-bottom: 56.25%;
	display: block;
	height: 0;
	overflow: hidden;

	video {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: block;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		height: 100%;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;

		@supports (transform: translate(0, 0)) or
			(-webkit-transform: translate(0, 0)) {
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}

@include breakpoint-up(mobile-small) {
	.modal-dialog-video {
		max-width: rem(480);
		margin: rem(10) auto;
	}
}

@media (min-width: map-get($breakpoints, mobile-small)) and (max-height: 400px) {
	.modal-dialog-video {
		max-width: rem(380);
		margin: rem(10) auto;
	}
}

@include breakpoint-up(mobile) {
	.modal-lg {
		max-width: rem(688);
	}

	.modal-dialog-video {
		// margin: rem(20) auto;
		max-width: rem(688);
	}
}

@media (min-width: map-get($breakpoints, mobile)) and (max-height: 600px) {
	.modal-dialog-video {
		max-width: rem(400);
	}
}

@include breakpoint-up(tablet) {
	.modal-dialog-video {
		max-width: rem(800);
	}
}

@include breakpoint-up(small-desktop) {
	.modal-lg {
		max-width: rem(1060);
	}

	.modal-dialog-video {
		max-width: rem(1200);
	}
}

@media (min-width: map-get($breakpoints, small-desktop)) and (max-height: 800px) {
	.modal-dialog-video {
		max-width: rem(900);
	}
}

@media (min-width: map-get($breakpoints, small-desktop)) and (max-height: 400px) {
	.modal-dialog-video {
		max-width: rem(500);
	}
}

@media (min-width: map-get($breakpoints, desktop)) and (max-height: 800px) {
	.modal-dialog-video {
		max-width: rem(900);
	}
}

@media (min-width: map-get($breakpoints, desktop)) and (max-height: 400px) {
	.modal-dialog-video {
		max-width: rem(500);
	}
}

@media (min-width: map-get($breakpoints, large-desktop)) {
	.modal-dialog-video {
		max-width: rem(1328);
	}
}

@media (min-width: map-get($breakpoints, large-desktop)) and (max-height: 800px) {
	.modal-dialog-video {
		max-width: rem(900);
	}
}

@media (min-width: map-get($breakpoints, large-desktop)) and (max-height: 400px) {
	.modal-dialog-video {
		max-width: rem(500);
	}
}

.modal-safety-priority {
	&__body-wrap {
		padding: rem(36) rem(72) rem(72);

		@include breakpoint-down(small-desktop) {
			padding: rem(36) rem(40) rem(56);
		}

		@include breakpoint-down(mobile) {
			padding: rem(44) rem(16) rem(48);
		}

		&.decor-line::before {
			left: rem(72);

			@include breakpoint-down(small-desktop) {
				left: rem(40);
			}

			@include breakpoint-down(mobile) {
				left: rem(16);
			}
		}

		& > div:first-child {
			margin-top: 0 !important;
		}

		& > div:last-child {
			margin-bottom: 0 !important;
		}
	}

	&__simple-content {
		margin: rem(32) 0;

		@include breakpoint-down(mobile) {
			margin: rem(24) 0;
		}
	}

	&__slider-container {
		position: relative;
		max-width: rem(800);
		margin: rem(32) auto;

		@include breakpoint-down(mobile) {
			margin: rem(24) auto;
		}

		& .safety-priority-slider {
			width: 100%;

			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				z-index: 2;
				width: 4px;
				height: 100%;
				background: $cerulean;
				pointer-events: none;
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}

			&__nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__arrow {
				border-radius: 0;

				&.slider-arrow--prev {
					border-bottom-left-radius: 4px;
				}

				&.slider-arrow--next {
					border-bottom-right-radius: 4px;
				}

				&.swiper-button-disabled {
					opacity: 1;
				}
			}

			&__pagination {
				width: auto;
				font-family: $drukWide;
				font-weight: 500;
				font-size: rem(18);
				line-height: rem(26);
				color: $deepCove60;

				& .swiper-pagination-current {
					font-size: rem(24);
					line-height: rem(32);
					color: $deepSapphire;
				}
			}
		}

		& .slide-image {
			position: relative;
			height: 0;
			padding-top: 55%;

			&-container {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__cards {
		&-inner {
			display: flex;
			flex-wrap: wrap;
			margin: rem(32) rem(-12);

			@include breakpoint-down(mobile) {
				margin: rem(8) 0;
			}
		}

		& .card-item {
			flex: 0 0 calc(33% - #{rem(24)});
			margin: rem(24) rem(12);

			@include breakpoint-down(small-desktop) {
				flex: 0 0 calc(50% - #{rem(24)});
			}

			@include breakpoint-down(mobile) {
				flex: 0 0 100%;
			}

			&__image {
				position: relative;
				height: rem(130);

				& img {
					width: auto;
					height: 100%;
				}
			}

			&__title {
				position: relative;
				padding-top: rem(16);

				&.decor-line::before {
					top: 0;
					left: 0;
					width: rem(130);
					height: 4px;
				}
			}

			&__content {
				margin-top: rem(12);
			}
		}
	}

	&__content-with-side-image {
		margin: rem(32) 0;

		&-inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			& .content-block {
				flex: 0 0 calc(542 / 916 * 100%);

				@include breakpoint-down(small-desktop) {
					flex: 0 0 100%;
				}
			}

			& .image-container {
				flex: 0 0 calc(342 / 916 * 100%);

				@include breakpoint-down(small-desktop) {
					margin-top: rem(16);
					flex: 0 0 100%;
				}

				& img {
					width: auto;
					max-height: rem(260);

					@include breakpoint-down(mobile) {
						max-height: rem(225);
					}
				}
			}
		}
	}
}

.modal-quote {
	.modal-dialog {
		max-width: rem(1060);
	}

	.modal-header {
	}

	.modal-body {
		padding: 35px 75px;

		@include breakpoint-down(mobile) {
			padding: 35px 15px;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 72px;
			height: 4px;
			width: 265px;
			background: $cerulean;

			@include breakpoint-down(mobile) {
				left: 15px;
			}
		}
	}

	.nf-mp-header {
		position: absolute;
		top: -41px;
		left: 72px;

		@include breakpoint-down(mobile) {
			left: 15px;
		}

		h3 {
			font-family: $drukWide;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 26px;
			color: $deepSapphire;
			pointer-events: none;
		}

		&:before {
			content: " / 2";
			position: absolute;
			top: 0;
			right: -37px;
			font-family: $drukWide;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 26px;
			color: rgba(5, 30, 57, 0.6);
			pointer-events: none;
		}
	}

	.field-wrap.html-wrap {
		h3 {
			font-family: $drukWide;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			color: $deepSapphire;
			margin-bottom: rem(24);
		}

		h6 {
			font-family: $drukWide;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 26px;
			color: $deepSapphire;
			margin-bottom: rem(16);
		}

		p:not(:has(strong)) {
			margin-bottom: rem(30);
		}

		p:has(strong) {
			font-family: $montserrat;
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 26px;
			color: rgba(5, 30, 57, 0.8);
			margin-top: rem(16);
		}
	}

	.field-wrap.list-radio-wrap {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
		}

		li {
			width: 50%;
			display: flex;
			align-items: center;

			& + li {
				margin-top: 5.5px !important;
			}

			@include breakpoint-down(mobile) {
				width: 100%;
			}
		}
	}

	.nf-form-cont .nf-field-element .nf-element[type="radio"] {
		height: 16px !important;
		width: 16px !important;
		margin: 0 !important;

		&.nf-checked {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 3px;
				left: 3px;
				width: 10px;
				height: 10px;
				background: $cerulean;
				border-radius: 50%;
			}

			& + label {
				color: rgba(5, 30, 57, 0.8);
			}
		}
	}

	.list-checkbox-wrap .nf-field-element li label,
	.list-image-wrap .nf-field-element li label,
	.list-radio-wrap .nf-field-element li label {
		font-family: $montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		text-align: justify;
		color: rgba(5, 30, 57, 0.6);
		margin-left: rem(16) !important;
	}

	.field-wrap.listcountry-wrap {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 23px;
			right: 17px;
			width: 14px;
			height: 8px;
			background: url(../images/icons/icon-arrow-down-select.svg)
				center/contain no-repeat;
			pointer-events: none;
		}

		select {
			appearance: none;
		}
	}

	.nf-previous,
	.nf-next {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 56px;
		padding: 18px 56px;
		gap: 8px;
		border: none;
		background: $cerulean;
		color: $white;
		box-shadow: none;
		border-radius: 45px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 18px;
		text-transform: capitalize;
		transition: background $transition-default, color $transition-default,
			border-color $transition-default;

		&:hover {
			background: $scienceBlue;
		}

		@media (max-width: 575px) {
			padding: 12px 56px;
			height: 48px;
			width: 100%;
		}
	}

	.nf-previous {
		position: absolute;
		bottom: 74px;
		right: 334px;
		background: transparent;
		border: 1px solid $cerulean;
		color: $cerulean;

		&:hover {
			border-color: $scienceBlue;
			color: $white;
		}

		@include breakpoint-down(mobile) {
			left: 10px;
			right: auto;
		}

		@media (max-width: 575px) {
			position: static;
			width: 100%;
		}
	}

	.nf-mp-footer {
		@media (max-width: 575px) {
			margin: 0 -5px;
		}
	}

	.nf-next-item,
	.nf-previous-item {
		@media (max-width: 575px) {
			width: 100%;
		}
	}

	.nf-form-cont .nf-field-container .field-wrap.submit-wrap {
		text-align: right;

		.button {
			width: auto;
			border-radius: 999em;
			max-width: rem(230);

			@media (max-width: 575px) {
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.nf-form-cont
		.nf-field-element.nf-field-element
		textarea.nf-element.nf-element {
		border: 1px solid rgba(5, 30, 57, 0.2);
		border-radius: 5px;
	}

	.map {
		border-top: 4px solid $cerulean;
		border-bottom: 4px solid $cerulean;
		min-height: 360px;
	}

	.field-wrap.date-wrap {
		&:after {
			content: "";
			z-index: 5;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			width: 16px;
			min-width: 16px;
			height: 16px;
			min-height: 16px;
			background-image: url("../images/icons/ico-datepicker.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			pointer-events: none;
		}
	}

	.nf-field-container.file_upload-container {
		background: #f6f6f6;
		border: 1px solid rgba(5, 30, 57, 0.2);
		border-radius: 5px;
		padding: 20px;

		.nf-field-description {
			font-size: 14px;
			text-align: center;
			max-width: 416px;
			margin: 0 auto;
			color: rgba(5, 30, 57, 0.6);
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 0 !important;
		}

		.nf-after-field .nf-error-wrap .nf-error-msg {
			text-align: left;

			@include breakpoint-down(mobile) {
				position: static;
				margin: 0 0 10px;
			}
		}

		.nf-fu-button-cancel {
			display: none !important;
		}

		.nf-fu-fileinput-button {
			max-width: 205px;
			margin: 0;
			border: 1px solid $cerulean !important;
			color: $cerulean;
			padding: 14px 33px;
			border-radius: 5px;
			font-size: 18px;
			transition: all $transition-default;

			@include breakpoint-down(mobile) {
				max-width: 100%;
				width: 100%;
			}

			& span {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				&:after {
					content: "";
					position: relative;
					top: 0;
					left: 0;
					margin-left: 16px;
					width: 16px;
					min-width: 16px;
					height: 16px;
					min-height: 16px;
					background-image: url("../images/icons/ico-plus-cerulean.svg");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					transition: all $transition-default;
				}
			}

			&:hover {
				border-color: $scienceBlue !important;
				color: $scienceBlue;
				background-color: transparent;

				& span:after {
					background-image: url("../images/icons/ico-plus-scienceblue.svg");
					transform: rotate(90deg);
				}
			}

			&.file-loaded {
				span {
					&:after {
						margin-right: 16px;
						width: 16px;
						height: 16px;
						background-image: url("../images/icons/ico-refresh.svg");
					}
				}

				&:hover {
					border-color: $cerulean !important;
					color: $cerulean;

					& span:after {
						background-image: url("../images/icons/ico-refresh.svg");
						transform: rotate(180deg);
					}
				}
			}
		}

		input.nf-element[type="file"] {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}

		.nf-field-element {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin: 0;

			@include breakpoint-down(tablet) {
				margin: 0;
			}
		}

		.nf-fu-progress {
			margin-bottom: 6px;
			margin-top: 16px;
			flex: 0 0 100%;
			width: 100%;
			height: 2px;
			border-radius: 0;
			background-color: transparent;
			box-shadow: none;

			.nf-fu-progress-bar {
				background-color: $cerulean;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		.files_uploaded {
			order: -1;
			width: 100%;
			padding: 0;
			font-weight: bold;
			margin-bottom: 17px;
			font-size: 20px;
			line-height: 120%;
			transition: color $transition-default;

			@include breakpoint-down(mobile) {
				margin-bottom: 16px;
			}

			&:empty {
				&:before {
					content: "Drop Files Here";
					font-family: $montserrat;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					color: rgba(5, 30, 57, 0.6);
					transition: color $transition-default;
				}
			}

			p {
				position: relative;
				padding-right: 22px;
				max-width: 100%;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-family: $montserrat;
				font-weight: 400;
				font-size: 14px;
				padding-right: 30px;
				color: $cerulean;
			}

			.delete {
				position: absolute;
				top: 50%;
				right: 0;
				width: 22px;
				height: 22px;
				display: inline-block;
				font-size: 0;
				line-height: 0;
				color: inherit;
				text-decoration: none;
				transform: translateY(-50%);

				&:after,
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					height: 2px;
					width: 18px;
					opacity: 1;
					transition: background-color $transition-default;
					background-color: $cerulean;
				}

				&:after {
					transform: translate(-50%, -50%) rotate(-45deg);
				}

				&:before {
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&:hover,
				&:focus {
					&:after,
					&:before {
						background-color: $scienceBlue;
					}
				}
			}
		}
	}
}
