.popup__close {
	position: absolute;
	z-index: 50;
	right: 4px;
	top: 4px;
	width: 56px;
	height: 56px;
	@include flex(row, center, center);
	background-color: $white;
	color: $color-dark-s-50;
	border: 2px solid transparent;
	transition: $transition-default;

	@include hover-device {
		&:hover {
			color: $color-dark-s;
			border: 2px solid $color-dark-s;
		}
	}

	@include mobile-device {
		&:active {
			color: $color-dark-s;
			border: 2px solid $color-dark-s;
		}
	}
}

.overlay {
	position: fixed;
	top: $adminbarHeightDesktop;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	width: 100vw;
	height: 100vh;
	background-color: $color-overlay;
	filter: blur(10px);
	transition: $transition-duration-default;
	transform-origin: center;
	transform: scale(0);

	@include breakpoint-down(admin-bar) {
		top: $adminbarHeightMobile;
	}
}

.modal__h2 {
	margin-bottom: 20px;
	max-width: 423px;
	line-height: 1;

	@include breakpoint-down(large-desktop) {
		font-size: 40px;
	}

	@include breakpoint-down(small-desktop) {
		font-size: 30px;
	}
}

.modal__p {
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 1.2;

	@include breakpoint-down(small-desktop) {
		margin-bottom: 30px;
		font-size: 16px;
	}

	@include breakpoint-down(mobile) {
		margin-bottom: 25px;
	}
}
